head
    title Game View
    meta(charset='utf-8')
    link(rel="stylesheet", type="text/css", href="css/bootstrap.min.css")
    script(type='text/javascript', src='js/jquery-1.9.1.min.js')
    script(type='text/javascript', src='js/gameview.js')
body
    canvas(id='game', width='500', height='500')
    div.reset
        button(id='resetButton')