html
    head
        title Player
        script(src='/js/jquery-1.9.1.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/js/movementJs.js')

    body
        button#up UP BUTTON
        button#down DOWN BUTTON
    